body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 229, 231);
}

.main {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRhSSpOzxBWZvzkEkSoO2252LJcTCZIJLXi5W33fOQCw&s=10);
    width: 250px;
    min-height: 100vh;
    overflow: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}


.sidebar h2 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px;
    margin: 5px 12px;
    border-radius: 10px
}

.nav-link:hover {
    background-color: rgb(0, 92, 172);
}

#heading {
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.cards {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.content {
    flex: 1;
    padding: 25px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

th{
    background-color: #bbbcbd;
    color: black;
    padding: 14px;
}
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: rgb(5, 0, 77);
    color: white;
    border: none;
    border-radius: 8px;
    height: 35px;
    font-size: 15px;
    padding: 10px;
}

button:hover {
    background-color: rgb(3, 0, 43);
    cursor: pointer;
}

input {
    height: 35px;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

input:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.content2 {
    width: 300px;
    height: 300px;
    background-color: rgb(5, 0, 77);
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.content2 input {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    width: 250px;
}

.content2 button {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(246, 255, 115);
    color: black;
}

.content2 a {
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    height: auto;
}